body {
  background: red;
}

.scene {
  perspective: 1000;
  width: 10em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5em;
  margin-top: -5em;
}

.side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5em;
}

.top {
  background: #fff;
  transform: rotateX(90deg) translate3d(0, 0, 2em);
}

.front {
  background: #222229;
  color: #fff;
  box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 2em);
}